/* App.css */
.header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #e9f7ff;
}

.decrypted-message {
  color: #007bff;
  font-size: 1.2rem;
}

.google-data {
  margin-top: 20px;
}

.google-data h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.google-data ul {
  list-style: none;
  padding: 0;
}

.google-data li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #555;
}
