# Ignore the client/public folder containing sensitive keys



# Ignore the server/keys folder containing sensitive private keys



# Optionally ignore any build or temporary files (example)
node_modules/

.env

